.alllist{
	background:#F9E79F  ;
	margin:10px;
	padding:10px;
	border:1px solid #99A3A4;
	border-radius:10px; 
	height: 150px;
	
}
.alllist img{
	height: 150px;
	width:200px;
	float:left;
	border-radius: 5px;
}
.abc{
	position: absolute;
	margin-left: 210px;
	width: 380px;
}
.abc p{
	width: 380px;
}
.alllist:hover{
	background:#a50133;

}
.alllist a:hover{
	color:#5DADE2;

}
.spot{
	padding: 20px;
}
.spot h2{
	margin-bottom: 10px;
	color:#AB0333;
}
.spot h3{
	margin-bottom: 10px;
	color: #AB0333;

}
.testt{
	margin-top: 10px;
	margin-bottom: 50px;
}
